<nav class="navbar navbar-expand-lg header-bar">
  <div class="container-fluid">
    <router-link class="navbar-brand" style="color: white;" :to="{name: 'home'}">
      <div id="brand-font">Chernobogs Car Rental</div>
    </router-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle dropdown-titles dropdown-dims" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </div>
          <ul class="dropdown-menu">
              <li><router-link class="dropdown-item" :to="{name: 'cars-listview'}">All cars</router-link></li>
              <li><router-link class="dropdown-item" :to="{name: 'test-comp'}">Test section (Devs only)</router-link></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>