#login-cont{
  padding-top: 64px;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
}


@media(min-width: 1024px){
  #login-cont{
    padding-top: 64px;
    width: 1024px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 512px;
    row-gap: 10px;
    grid-template-rows: min-content 1fr 1fr;
  }
}

#intro-head{
  font-weight: bold;
  font-size: 2.75rem;
  animation: shadow-effect 4s ease-in-out;
  animation-iteration-count: infinite;
  text-align: left;
}

#intro-msg{
  font-weight: 650;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: left;
}

#form-wrp{
  width: 100%;
  grid-row: span 2;
}

@keyframes shadow-effect {
  0% {text-shadow: black 0 0 0}
  50% {text-shadow: lightblue 0 0 50px;color: white}
  100% {text-shadow: black 0 0 0}
}