.ani-section {
  width: 100%;
}

#top-lvl-title{
  text-align: left;
  font-size: 4rem;
  line-height: 4rem;
  margin:0;
  border-bottom: 5px solid black;
}

#sub-lvl-title{
  text-align: left;
  font-size: 2rem;
  line-height: 2rem;
  margin:0;
  border-bottom: 2px solid black;
}

p{
  text-align: left;
}