<div id="cars-page" class="page-cont">
    <section id="info-cont">
        <h1 id="cars-title">Chernobogs cars</h1>
        <br>
        <p>
            Chernobogs Dealership is an established brand with more
            than 10 years of service expirence. Every car needs to uphold certain standards
            to be <i><u>Chernobog Certified</u></i>. That means, Chernobog vouch for each of these cars in terms
            of quality, comfort and price.<br>
            
        </p>
        <h2 id="cars-standards">Chernobogs quality standards</h2>
        <br>
        <p>To ensure happy customers Chernobog has enforced a certain set of requirements that each
            car must conform to. Because of these <b>extraordinary high standards</b>, Chernobog himself has tested every car in his fleet to deliver on his promise of 
            high customer satisfaction.</p>
        <ul>
            <li><b>At least</b> one airbag (if any) is not deployed</li>
            <p class="li-text">This seat is most likely the most popular among all, så please make yourself 
                ready for some fighting. As Chernobog is concerned with safety, Chernobog recommends this seat for children.</p>
            <li>Tire thread patterns is <b>at least</b> 0.25mm deep for a minimum of two tires</li>
            <p class="li-text">A steady grip is always of high importance, så here Chernobog won't let you down. </p>
            <li> Aircondition provided by <b>at least</b> one missing (or broken) window</li>
            <p class="li-text">This ensures no fuel consumption at summer when temperatures could reach beyond 30 degrees.
                Yes, it might be inconvenient at winter season, but a well choice of dressing may be of high value here.
            </p>
            <li>Great visibility by free view to the road</li>
            <p class="li-text">Some cars provides a killer feature Chernobog calls  <i>Chernobog Transparency</i>. 
                This feature enables the customer the possibility to view the condition of the road by just looking down from the seat.
                This feature is provided by the many holes in the undercarriage. Valuable in situations where you want to know
                if the road is slibbery and don't want to create a dangerous situation by blocking the brakes. In that case, just squeeze your feets down into the holes and onto the road
                to see if its slibbery. Chernobog consider this feature a <b>Killer feature</b>.
            </p>
        </ul>
    </section>
    <h2 id="car-fleet"> Please take a look at our large fleet </h2>
    <div id="cars-cont">
        <br>
        <CarListView></CarListView>
    </div>
    <br>
</div>

