#car-details{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 400px 1fr;
  margin-top: 50px;
  gap: 25px;
  align-items: start;
  overflow: auto;
  padding: 25px;
}

#img-cont{
  grid-row: span 5;
  border-radius: 15px;
  overflow: auto;
}

#add-res-btn{
  height: 80px;
  width: 128px;
  border-radius: 15px;
}

#car-model{
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  line-height: 4rem;
}

#car-price{
  text-align: left;
  font-size: 3rem;
  border:1px solid black;
  border-radius: 15px;
  width: min-content;
  white-space: nowrap;
  padding: 15px;
  background-color: yellow;
}

#car-descr{
  font-size: 1.5rem;
  text-align: left;
}

li{
  text-align: left;
  font-size: 1.5rem;
}