#car-cont {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 128px;
    width: 100%;
    align-items: center;
    column-gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: wheat;
    padding: 15px;
}

p{
    font-weight: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#name-wrap{
    overflow-x: scroll;    
}

#name-wrap::-webkit-scrollbar{
    display: none;
}

#res-mrk{
    background-color: green;
    color: white;
    font-size: 1.25rem;
}

#car-name{
    justify-self: start;
    user-select: none;
}

#car-price{
    justify-self: end;
    user-select: none;
}

#reserve-btn{
    width: 100%;
    border-radius: 5px;
}

#reserve-btn:active{
    scale: 0.98;
}